src/main/mule/employees.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-employees" doc:id="41e868b7-2de2-4a62-97e8-4a37f68cdb55" >
		<set-variable value="#[attributes.queryParams.countyName]" doc:name="Set Variable" doc:id="823c22bd-7d76-4814-9ba6-43a4e59e27ba" variableName="countyName"/>
		<http:request method="GET" doc:name="Request" doc:id="3d3b6125-5784-47cd-85a3-928cb75f486f" path="/employees" config-ref="ADP_HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : '64f53a5c15b241e28D2c3e1F4c81b6D3',
	client_id : 'ff4c0827ace94e5f831e0fcec6a8fd2c'
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="4966c347-f950-4ea5-9024-80279d41103a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

payload filter ((value,index) -> value.county == vars.countyName)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="variableTestFlow" doc:id="e14cf1e1-3114-45ee-80cd-2b3eccbb10af" >
		<ee:transform doc:name="Transform Message" doc:id="3fc5ce1d-0db4-4475-a5f0-4cffad61dd73" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="33600f1a-9e88-4dab-a1ee-b0d22b694d1a" name="variableTestSub_Flow" />
		<ee:transform doc:name="Transform Message" doc:id="3afcea4e-7ef8-4877-aa92-ecc0f197607a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
	firstName: vars.firstName,
	lastName: vars.lastName,
	county: vars.county
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="variableTestSub_Flow" doc:id="d584e217-1d3b-4bf0-b307-da57dc816fed" >
		<ee:transform doc:name="Transform Message" doc:id="c5625d39-4c4e-4144-af0c-09b22ba063c4">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="firstName"><![CDATA[%dw 2.0
output application/json
---
payload.first_name]]></ee:set-variable>
				<ee:set-variable variableName="lastName"><![CDATA[%dw 2.0
output application/json
---
payload.last_name]]></ee:set-variable>
				<ee:set-variable variableName="county"><![CDATA[%dw 2.0
output application/json
---
payload.county]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="add-employees" doc:id="a7d282bd-4748-4806-8b57-b1e982de670d" >
		<ee:transform doc:name="Transform Message" doc:id="eb29505d-eae7-4824-a543-a2b71c73c89e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="b53c42b2-d13d-4c63-aad6-b3c513328df7" >
			<route >
				<try doc:name="Try - Add Employees to ADP" doc:id="6d503766-a5ff-43b6-8003-b80d61c69877">
					<http:request method="POST" doc:name="POST | Employees ADP" doc:id="cd7f19d4-aa26-41d5-8c97-f3beb3840a04" path="${secure::adp.path.employees}" config-ref="ADP_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	client_secret : Mule::p('secure::adp.client_secret'),
	client_id : Mule::p('secure::adp.client_id')
}]]]></http:headers>
				</http:request>
				</try>
			</route>
			<route >
				<ee:transform doc:name="Sample Route" doc:id="c8a8bbc5-9a21-4d9b-9977-cc5bcab9d6b4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Employees added successfully"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="new_employees" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="09b48d76-8e1a-4d53-b585-c763252d58e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="51864735-15a3-4b49-b8d9-3130cfd7fb6d" type="MULE:COMPOSITE_ROUTING">
				<ee:transform doc:name="Map Error" doc:id="61d0b510-58d8-4cb3-80e7-80d0d5eea4f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	SGErrorDescription: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
