src/main/mule/locations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getLocationsFlow" doc:id="c7505609-775b-4e0c-acdb-731dfca4428d" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="86e0e250-fa27-4d09-944e-5b20ad990102" variableName="city_id"/>
	</flow>
</mule>
